*{
    margin:0;
    padding:0;
}
body{
    /* background-color: aqua; */
    background: url("../img/2474215.jpg") center center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

img{
    position: absolute;
}
h1{
    color:white;
}